#name
{
    background-color: brown;
}
header
{
    text-align: left;
}
#instagram
{
    width: 50%;
    size: 500;
}
#telegram
{
    width: 50%;
    size: 100;
}
#shareme
{
    width: 50%;
    size: 500;
}